<%- include('partials/head', {pageTitle: 'Home'}) %>

<body>

  <%- include('partials/navbar') %>
  <br>
  <div class="text-center">
      <div class="container actioTitle">
          <div class="alert" role="alert">
              <h1>Welcome to Fipal, your easy-to-go financial advisor!</h1>
          </div>
      </div>
  </div>
  <br>
  <div class="text-center">
    <div class="container">
        <div class="card">
            <div class="card body">
                <div class="container">
                    <br>
                    <h4><a href="/user/login"> User Login </a></h4>
                    <br>
                    <h4> <a href="/user/register"> Create Account </a></h4>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>