<%- include('partials/head', {pageTitle: 'Welcome to FiPal'}) %>
<body>
<%- include('partials/navbar') %>

<div class="text-center">
  <div class="container actioTitle">
      <div class="alert" role="alert">
          <h4>Welcome to FiPal your easy-to-go financial advisor!</h4>
      </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="card">
      <div class="card body">
          <div class="container">
              <div class="card-deck">
                      <div class="card-body">
                        <br> <br> <br> <br>
                          <form class="registerForm" action="/user/login" method="POST">
                          
                              <div class="form-group">
                               <br><center> 
                                <label for="deadline"><button type="button" class="btn btn-outline-primary"><a href="/user/login"> User Login </a></button></label>
                                <label for="reminder_date"><button type="button" class="btn btn-outline-primary"><a href="/user/register"> Create Account </a></button></label>
                              </center>
                              </div>
                         
                          </form>
                          <br> <br> <br> <br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>