<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.name %> Investment</title>
</head>
<body>
  <h1><%= data.name %>, Tambahkan Instrumen investasi yang anda inginkan!</h1>

  <form action="/user/invest/add" method="POST">
    <label>Periode</label><br>
    <input type="number" name="period"><br><br>

    <label>Instrumen Investasi</label><br>
    <select name="InvestmentId">
    <% investmentData.forEach(el => { %>
      <option value="<%= el.id %>"><%= el.name %></option>
    <% }) %>
  </select><br><br>
  <button type="submit" value="submit">Tambahkan</button>
  </form>
</body>
</html>