<%- include('partials/head', {pageTitle: 'Login to FiPal'}) %>
<body>
<%- include('partials/navbar') %>



  <div class="text-center">
      <div class="container actioTitle">
          <div class="alert" role="alert">
              <h4>Masukkan email dan password anda</h4>
          </div>
      </div>
  </div>
  <div class="container">
      <br>
      <div class="card">
          <div class="card body">
              <div class="container">
                  <div class="card-deck">
                          <div class="card-body">
                              <form class="registerForm" action="/user/login" method="POST">
                                  <div class="form-group">
                                    <h6>Email</h6><br>
                                          <input type="email" class="form-control" name="email" placeholder="Enter your email">
                                   
                                  </div>
                                  <br>
                                  <div class="form-group">
                                    <h6>Password</h6><br>
                                      <input type="password" class="form-control" name="password" placeholder="Enter your password">
                                 
                                  </div>
                               
                              
                                  <br><button type="submit" class="btn btn-success" style="color: black">Login</button>&nbsp;&nbsp;or&nbsp;&nbsp;<button class="btn btn-primary"><a href="/user/register" style="color: white">Daftar</a></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
