<%- include('partials/head', {pageTitle: 'User DashBoard'}) %>
<body>
<%- include('partials/navbarloggedin') %>

<div class="text-center">
  <div class="container actioTitle">
      <div class="alert" role="alert">
        <h4>Selamat datang <span class="actio-text"></span> <%= data.email %>   <span class="actio-text"></span></h4>
      </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="card">
      <div class="card body">
          <div class="container">
              <div class="card-deck">
                      <div class="card-body">
                        <br> <br> <br> <br>
                          <form class="registerForm" action="/user/login" method="POST">
                          
                              <div class="form-group">
                               <br><center> 
                                <div class="form-group">
                                  <button type="button" class="btn btn-outline-primary"> <h2><a href="/user/profile"> Ubah Profile </a></h2></button><br><br>
                                  <button type="button" class="btn btn-outline-primary"><h2><a href="/user/recommendation"> Dapatkan Rekomendasi Investasi </a></h2></button>
                                </div>
                              </div>
                         
                          </form>
                          <br> <br> <br> <br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>
